@font-face {
    font-family: codecbold;
    src: url(/assets/fonts/Codec-Cold-Bold-trial.ttf);
}

@font-face {
    font-family: codecregular;
    src: url(/assets/fonts/Codec-Cold-Regular-trial.ttf);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --cor-primaria: #232b2d;
    --cor-secundaria: #353E40;
    --cor-terciaria: #627276;
    --cor-escrita: white;
    --cor-link: #99D9DF;
    --cor-sombra: #00000042;
}



.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 1%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    h1 {
        font-family: codecregular;
        font-size: 0.75rem;
        color: var(--cor-escrita);
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.75rem;
        opacity: 95%;
        color: var(--cor-escrita);
    }
    img {
        width: 4.5%;
    }
}



.container_background {
    display: flex;
    background-image: url(/assets/images/jmcell-background.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    .container_area_de_login_cadastro {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 75%;
        margin: auto;
        form {
            gap: 17px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            border: solid var(--cor-primaria);
            border-radius: 20px;
        }
        form:hover {
            padding: 80px 50px 80px;
            transition: padding 0.7s;
        }
        form:not(:hover) {
            transition: padding 0.7s;
        }

        input {
            border-radius: 5px;
            width: 90%;
            height: 20px;
            border: solid var(--cor-primaria);
            padding: 10px;
            transition: 0.2s;
        }
        input:hover {
            transform: translateY(-1px);
        }
    
        button {
            padding: 3px 0px;
            width: 70%;
            cursor: pointer;
            border-radius: 5px;
            border: solid var(--cor-terciaria);
            background-color: var(--cor-terciaria);
            box-shadow: 0px 4px 8px var(--cor-sombra);
            font-family: codecbold;
            font-size: 0.8rem;
            color: var(--cor-escrita);
            transition: 0.2s;
        }
        button:hover {
            box-shadow: 0px 8px 16px var(--cor-sombra);
            transform: translateY(-2px);
        }
        button:active {
            transform: translateY(2px);
        }

        h1 {
            font-family: codecregular;
            font-size: 1.25rem;
            color: var(--cor-escrita);
        }
        p {
            font-family: codecregular;
            font-size: 65%;
            color: var(--cor-escrita);
            padding-top: 10px;
        }
        a {
            color: var(--cor-link);
            transition: 0.2s;
        }
        a:hover {
            font-size: 104%;
            padding-left: 1px;
            color: var(--cor-terciaria);
        }
    }
}


.container_background_home {
    display: flex;
    background-color: var(--cor-terciaria);
}



.menu_navegacao {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-inline: 20px;
    background-color: var(--cor-secundaria);
    a, ul {
        text-decoration: none;
        color: var(--cor-escrita);
        font-family: codecregular;
        font-size: 1.1rem;
        list-style-type: none;
    }
    li {
        padding-top: 25px;
    }
}


.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    p {
        font-family: sans-serif;
        font-size: 0.68rem;
        color: var(--cor-escrita);
        padding: 10px;
    }
}



@media (max-width:860px){
    .container {
        flex-direction: column;
        .area_de_login {
            flex-direction: column;
            justify-content: center;
        }
    }
}