@font-face {
    font-family: codecbold;
    src: url(/font/Codec-Cold-Bold-trial.ttf);
}

@font-face {
    font-family: codecregular;
    src: url(/font/Codec-Cold-Regular-trial.ttf);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --cor-primaria: #232B2D;
    --cor-secundaria: #627276;
    --cor-escrita: white;
}



.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 11px;
    h1 {
        font-family: codecbold;
        font-size: 15%;
        color: var(--cor-escrita);
    }
    img {
        width: 4%;
    }
}



.container {
    display: flex;
    background-image: url(/assets/jmcell-background.png);
    height: 100vh;
    width: 100%;
    .area_de_login {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 80%;
        margin: auto;
        form {
            gap: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            border: solid var(--cor-primaria);
            border-radius: 20px;
        }
        input {
            border-radius: 5px;
            width: 90%;
            height: 20px;
            border: solid var(--cor-primaria);
            padding-left: 10px;
            padding-right: 10px;
        }
        h1 {
            font-family: codecbold;
            font-size: 20px;
            color: var(--cor-escrita);
        }
    }
}



.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    p {
        font-family: coderegular;
        font-size: 11px;
        color: var(--cor-escrita);
        padding: 10px;
    }
}



@media (max-width:480px){
    .container {
        flex-direction: column;
    }
}